<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body>
        <!-- Responsive navbar-->
        <%- include('layouts/navbar'); -%>
            <!-- Page content-->
            <div class="container padding_30">
                <div id="fetchedDataContainer" class="styled-container">
                    <% var data = typeof data !== 'undefined' ? data : {}; %>
                    <% if (data) { %>
                        <h2 class="section-title">Information Related to the License Number:
                            <strong>
                                <%= data.licenseNumber %>
                            </strong>
                        </h2>
                        <section class="info-section">
                            <h3>Personal Information</h3>
                            <div class="info-item">
                                <label for="firstName">First Name:</label>
                                <span class="info-value">
                                    <%= data.firstName %>
                                </span>
                            </div>

                            <div class="info-item">
                                <label for="lastName">Last Name:</label>
                                <span class="info-value">
                                    <%= data.lastName %>
                                </span>
                            </div>

                            <div class="info-item">
                                <label for="licenseNumber">License Number:</label>
                                <span class="info-value">
                                    <%= data.licenseNumber %>
                                </span>
                            </div>

                            <div class="info-item">
                                <label for="age">Age:</label>
                                <span class="info-value">
                                    <%= data.age %>
                                </span>
                            </div>
                        </section>

                        <section class="info-section">
                            <h3>Car Information</h3>
                            <div class="info-item">
                                <label for="make">Make:</label>
                                <span id="makeValue" class="info-value">
                                    <%= data.car_details.make %>
                                </span>
                            </div>

                            <div class="info-item">
                                <label for="model">Model:</label>
                                <span id="modelValue" class="info-value">
                                    <%= data.car_details.model %>
                                </span>
                            </div>

                            <div class="info-item">
                                <label for="year">Year:</label>
                                <span id="yearValue" class="info-value">
                                    <%= data.car_details.year %>
                                </span>
                            </div>

                            <div class="info-item">
                                <label for="platNumber">Plate Number:</label>
                                <span id="platNumberValue" class="info-value">
                                    <%= data.car_details.platNumber %>
                                </span>
                            </div>

                            <!-- Common Edit and Cancel Buttons -->
                            <button onclick="enableEditMode()">Edit</button>
                            <button onclick="cancelEditMode()">Cancel</button>
                        </section>
                            <% if (!data.appointmentId) { %>
                                <section id="appointmentForm">
                                    <h2>Book G Test Appointment</h2>
                                    <label for="appointmentDate">Select Date:</label>
                                    <input type="date" id="appointmentDate" name="appointmentDate" required>
                                    <div id="appointmentTimeSelection">
                                        <label for="appointmentDate">Select Appointment Time:</label>
                                        <div id="appointmentTimeButtons">
                                            <!-- Time buttons will be dynamically populated here based on selected date -->
                                        </div>
                                    </div>
                                </section>
                            <% } %>

                            <% if (data.appointmentId && data.appointmentDetails.testType === "G") { %>
                                <% const gAppointmentDate=new Date(data.appointment.date); %>
                                <% const options={ month: 'long' , day: 'numeric' , weekday: 'long' }; %>
                                <div id="fetchedDataContainer" class="styled-container">
                                    <section class="info-section">
                                        <h3 style="margin-bottom: 30px;">G test Appointment Details :</h3>
                                        <div class="info-item">
                                            <label>Test Type:</label>
                                            <span class="info-value">
                                                <%= data.appointmentDetails.testType %>
                                            </span>
                                        </div>
                                        <div class="info-item">
                                            <label>Date:</label>
                                            <span class="info-value">
                                                <%= gAppointmentDate.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) %>
                                            </span>
                                        </div>
                                        <div class="info-item">
                                            <label>Time:</label>
                                            <span class="info-value">
                                                <%= data.appointment.time %>
                                            </span>
                                        </div>
                                        <% if (data.appointmentDetails.status) { %>
                                            <div class="info-item">
                                                <label>Status:</label>
                                                <% if (data.appointmentDetails.adminApproved) { %>
                                                    <span class="info-value">
                                                        <%= data.appointmentDetails.status %>
                                                    </span>
                                                <% } else { %>
                                                    <span class="info-value">
                                                        Pending
                                                    </span>
                                                <% } %>
                                            </div>
                                        <% } %>
                                        <% if (data.appointmentDetails.comments) { %>
                                            <div class="info-item">
                                                <label>Comments (from examiner):</label>
                                                <% if (data.appointmentDetails.adminApproved) { %>
                                                    <span class="info-value">
                                                        <%= data.appointmentDetails.comments %>
                                                    </span>
                                                <% } else { %>
                                                    <span class="info-value">
                                                    </span>
                                                <% } %>
                                            </div>
                                        <% } %>
                                        <div class="info-item">
                                            <label>Action Required:</label>
                                            <span class="info-value">
                                                <% if (data.appointmentDetails.status === 'Passed' && data.appointmentDetails.adminApproved) { %>
                                                    Your license has been generated.
                                                <% } else if (data.appointmentDetails.status === 'Failed' && data.appointmentDetails.adminApproved) { %>
                                                    You need to re-take your G2/G test. Please wait for further instructions.
                                                <% } else { %>
                                                    Appointment evaluation is pending. Please wait for further instructions.
                                                <% } %>
                                            </span>
                                        </div>
                                    </section>
                                </div>    
                            <% } %>

                    <% } else { %>
                            <p>No User Found</p>
                            <a href="/g2">Go back to G2 page</a>
                    <% } %>
                </div>
            </div>

            <script>
                const data = <%- JSON.stringify(data) %>; // pass data from the html to the script
            </script>
            <script src="/js/appointmentSelection.js"></script>
            <script src="/js/info.js"></script>
    </body>

</html>