<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body>
        <!-- Responsive navbar-->
        <%- include('layouts/navbar'); -%>
            <!-- Page content-->
            <div class="container padding_30">
                <% var data=typeof data !=='undefined' ? data : {}; %>
                    <% var appt=typeof appt !=='undefined' ? appt : {}; %>
                        <% if (!data.licenseNumber) { %>
                            <form action="/g2/info" method="POST">
                                <section>
                                    <h2>Personal Information</h2>
                                    <label for="firstName">First Name:</label>
                                    <input type="text" id="firstName" name=firstName required>

                                    <label for="lastName">Last Name:</label>
                                    <input type="text" id="lastName" name=lastName required>

                                    <label for="licenseNumber">License Number (8 characters alphanumeric):</label>
                                    <input type="text" id="licenseNumber" name=licenseNumber pattern="[a-zA-Z0-9]{8}"
                                        required>

                                    <label for="age">Age:</label>
                                    <input type="number" id="age" name=age required>

                                </section>

                                <section>
                                    <h2>Car Information</h2>
                                    <label for="make">Make:</label>
                                    <input type="text" id="make" name=car_details.make required>

                                    <label for="model">Model:</label>
                                    <input type="text" id="model" name=car_details.model required>

                                    <label for="year">Year:</label>
                                    <input type="number" id="year" name=car_details.year required>

                                    <label for="platNumber">Plate Number:</label>
                                    <input type="text" id="platNumber" name=car_details.platNumber required>
                                </section>

                                <button type="submit">Submit Request</button>
                            </form>
                        <% } else if (data.appointmentId) { %>
                                <% const appointmentDate=new Date(data.appointment.date); %>
                                <% const options={ month: 'long' , day: 'numeric' , weekday: 'long' }; %>
                                <div id="fetchedDataContainer" class="styled-container">
                                    <h2 class="section-title">Appointment Confirmation</h2>
                                    <section class="info-section">
                                        <div class="info-item">
                                            <label>Test Type:</label>
                                            <span class="info-value">
                                                <%= data.appointmentDetails.testType %>
                                            </span>
                                        </div>
                                        <div class="info-item">
                                            <label>Date:</label>
                                            <span class="info-value">
                                                <%= appointmentDate.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) %>
                                            </span>
                                        </div>
                                        <div class="info-item">
                                            <label>Time:</label>
                                            <span class="info-value">
                                                <%= data.appointment.time %>
                                            </span>
                                        </div>
                                        <% if (data.appointmentDetails.status) { %>
                                            <div class="info-item">
                                                <label>Status:</label>
                                                <% if (data.appointmentDetails.adminApproved) { %>
                                                    <span class="info-value">
                                                        <%= data.appointmentDetails.status %>
                                                    </span>
                                                <% } else { %>
                                                    <span class="info-value">
                                                        Pending
                                                    </span>
                                                <% } %>
                                            </div>
                                        <% } %>
                                        <% if (data.appointmentDetails.comments) { %>
                                            <div class="info-item">
                                                <label>Comments (from examiner):</label>
                                                <% if (data.appointmentDetails.adminApproved) { %>
                                                    <span class="info-value">
                                                        <%= data.appointmentDetails.comments %>
                                                    </span>
                                                <% } else { %>
                                                    <span class="info-value">
                                                    </span>
                                                <% } %>
                                            </div>
                                        <% } %>
                                        <div class="info-item">
                                            <label>Action Required:</label>
                                            <span class="info-value">
                                                <% if (data.appointmentDetails.status === 'Passed' && data.appointmentDetails.adminApproved) { %>
                                                    Your license has been generated.
                                                <% } else if (data.appointmentDetails.status === 'Failed' && data.appointmentDetails.adminApproved) { %>
                                                    You need to re-take your G2/G test. Please wait for further instructions.
                                                <% } else { %>
                                                    Appointment evaluation is pending. Please wait for further instructions.
                                                <% } %>
                                            </span>
                                        </div>
                                    </section>
                                </div>                                                           
                        <% } else { %>
                                    <form>
                                        <section id="appointmentForm">
                                            <h2>Appointment Selection</h2>
                                            <label for="appointmentDate">Select Date:</label>
                                            <input type="date" id="appointmentDate" name="appointmentDate" required>
                                            <div id="appointmentTimeSelection">
                                                <label for="appointmentDate">Select Appointment Time:</label>
                                                <div id="appointmentTimeButtons">
                                                    <!-- Time buttons will be dynamically populated here based on selected date -->
                                                </div>
                                            </div>
                                        </section>
                                    </form>
                        <% } %>
            </div>
            <%- include('layouts/scripts'); -%>
            <script>
                const data = <%- JSON.stringify(data) %>; // pass data from the html to the script
            </script>
            <script src="/js/appointmentSelection.js"></script>
    </body>

</html>